.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-m);
}
p {
  font-family: var(--font-neue);
  font-weight: 500;
  font-size: var(--font-size-m);
  color: var(--color);
  opacity: 0.7;
}
h1 {
  font-family: var(--font-neue);
  font-weight: 600;
  font-size: var(--font-size-x);
  color: var(--white);
}
.combobox {
  background: transparent;
  color: var(--white);
  border: 2px solid var(--soft-black);
}
.combobox:hover {
  background: var(--white);
  color: var(--black);
}
.date {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

@media (max-width: 888px) {
  .title {
    flex-direction: column;
    align-items: flex-start;
  }
}
