.path_2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
  pointer-events: none;
  height: 100lvh;
}
.path_2_2 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100000;
  pointer-events: none;
  height: 100lvh;
}

@media (max-width: 1024px) {
  .path2,
  .path2_2 {
    stroke-width: 18px;
  }
}
