main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.dashboard {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: var(--gap-l) var(--padding-vw);
}
span {
  color: var(--color);
}
.dashboard_divider {
  gap: var(--gap-m);
}
